<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">iMusic</a>
    </div>
    <div class="collapse navbar-collapse navbar-top-collapse">
      <ul class="nav navbar-nav ">
        <li><a href="#">About Me</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Map of address</a></li>
      </ul>
    </div>
  </div>
</nav>
