<!--<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input class="form-control" placeholder="Input Music" [formControl]="musicFilter">
    </div>
  </div>
</div>-->
<div *ngFor="let product of products | async" class="col-md-4 col-xs-4 col-lg-4">
  <div  class="thumbnail">
    <img src="http://placehold.it/320x150">
    <div class="caption">
      <div class="row container-fluid">
        <h4 class="pull-left"><a [routerLink]="['/products',product.Id]">{{product.Music}}</a></h4>
        <h4 class="pull-right">{{product.Singer}}</h4>
      </div>
      <p>{{product.Description}}</p>
      <p>{{product.Categories}}</p>
    </div>
    <div>
      <app-stars [rating]="product.Rating"></app-stars>
    </div>
  </div>
</div>
